html {
    margin: 0.5em;
}


    
      

.wrapper {
    width: 1001px
    height  100%;
    margin: 0 auto;
    position: relative; 
}

header  { 
    height: 30%;
    background: 1000px;
    background-color:rgb(77, 95, 175);
    margin: 0;
    padding-top: 30px; 
}

h1 {
    color:rgb(28, 12, 107);
    font-family: Homemade Apple, static; 
    font-size: 4em;
    position:relative;
    text-align: center;
} 

header div {
    position: relative;
    margin: 0;
    margin-top: 45px;
    padding: 0;
    color: cornflowerblue;
}

header  div {
    display: inline-block;
  
    position: relative;
}

header  div a {
    padding-left: 15px;
    padding-right:15px ;
    display: block;
    text-decoration: none;
    color: cornflowerblue;
    font-size: 1.5em;
    font-family: Lekton;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar div {
    padding: 0px;
    margin: 0px;
    position: relative;

}

.navbar a {
    text-decoration: none;
    padding: 15px;
}

.navbar a:hover {
    background-color: rgb(25, 25, 81);
}

.navbar div {
    float: center; 
}

.navbar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}



h2 { color:rgb(10, 27, 107);
    font-family:  Homemade Apple, static;
    font-size: 1em;

}

h3 { color:rgb(10, 27, 107);
    font-family:  Homemade Apple, static;
    font-size: 2em;
    padding-bottom: 1em; 
}

@media ( max-width: 800px) {
   h3 {
    font-size: 1em;
   }
 }


p {
    font-family: Lekton;
    font-size: 1em;
}

li {
    font-family: Lekton;
    font-size: 1em;
}
/* this is asterisk trick to override the defualt root of the document */


* {
    scroll-behavior: smooth;
}


 img {
    width: 20em;
    height: auto;
    
 }

.hoop {
    width: 20em;
    height: auto;
    float: right;
}

  
  
   
 .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    background-color: #6069bc;
 }
 @media ( max-width: 800px) {
    .container {
        flex-direction: column;
    }

 }

 .container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .container-section .card {
   flex: 1;
   margin: 20px 20px;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
 }
 

 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    float: left;
    justify-content: center;
    
 }
 .cards {
    display: flex;
    width: 20%;
 }

 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: black;
  }

  .flip-card-back {
    background-color: rgb(98, 102, 188);
    color: white;
    transform: rotateY(180deg);
  }
  
  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(77, 95, 175);
    color: white;
    width: 100%;
  }

 .tools-container {
    display: flex;
    justify-content: center;
    border: #6069bc 2px dashed;


 }

 @media ( max-width: 800px) {
    .tools-container {
        flex-direction: column;
    }

 }

 .tools-container > section {
    position:relative;
    padding: 0.5em;
 }

    
  

 .floral {
   display: grid;
   border: 10px rgb(10, 14, 80);
   grid-template-columns: auto auto auto;
   justify-content: center;
   gap: 1rem;
   position: relative;
 }
 .floral > div {
border:  20px solid black;
padding: 10px 10px;
font-size: 30px;
align-items:  center;
 }

 @media (max-width: 800px) {
    .floral {
        grid-template-columns: auto;
    }

 }

 @media (min-width: 801px) {
    .floral {
        grid-template-columns: auto auto auto;
    }

 }

 .floral a:hover {
    background-color: rgb(86, 84, 178);

}





